<%- include('partials/header-dashboard') %>
<div class="jumbotron">
    <h1 class="display-4">Quem somos</h1>
    <p class="lead">Beauty Salon</p>
    <hr class="my-4">
    <p>Somos a Beauty Salon um espaço de beleza que tinha problemas com gerenciamento de cliente e funcionários e decidimos otimizar nossa empresa, apostando em um projeto chamado de Salon Service que agora é responsável pela nossa agenda e ajuda no gerenciamento no qual tínhamos dificuldades, para conhecer nosso espaço fale conosco:</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/contact" role="button">Fale conosco</a>
    </p>
</div>
<%- include('partials/footer-dashboard') %>