<%- include('partials/header-mySchedules') %>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="btn-group">
                <div class="showSchedule">
                    <div class="container mt-3">
                    <h2>Meus agendamentos</h2>
                    <p>Abaixo está a lista de todos os agendamentos que você já fez conosco</p>  
                    <!-- <input class="form-control" id="myInput" type="text" placeholder="Search.."> -->
                    <!-- <br> -->
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Data</th>
                            <th>Hora</th>
                        </tr>
                        </thead>
                        <tbody id="myTable">
                        <tr>
                            <td>1</td>
                            <td>20/11/2019</td>
                            <td>14:00</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>23/11/2019</td>
                            <td>17:00</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>27/11/2019</td>
                            <td>19:00</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>29/11/2019</td>
                            <td>21:30</td>
                        </tr>
                        </tbody>
                    </table>
                    
                    <p>Note that we start the search in tbody, to prevent filtering the table headers.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>