<%- include('partials/header-dashboard') %>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <form action="/createSchedule" method="POST">
                <div class="row">
                    <div class="col">
                    <label for="date">Escolha uma data:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="exemplo" name="date">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col">
                    <label for="date">Escolha um horário:</label>
                    <div class="input-group clockpicker">
                        <input type="text" class="form-control" name="hour">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-time"></span>
                        </span>
                    </div>
                    </div>
                </div>
                <br />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer-dashboard') %>