<%- include('partials/header-dashboard') %>
<div class="jumbotron">
    <h1 class="display-4">Nossos serviços</h1>
    <p class="lead">Salon Service</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis urna a magna tempus convallis imperdiet vel orci. Sed nisi urna, venenatis eu scelerisque eget, feugiat sit amet mauris. Quisque aliquam quam ante, a hendrerit quam commodo id. In hac habitasse platea dictumst. Vivamus tincidunt est ac orci bibendum, id volutpat sapien posuere. In ante ante, imperdiet aliquam tellus non, tincidunt maximus orci. Curabitur dui tortor, maximus nec accumsan nec, tincidunt et justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec dignissim nisl vitae metus sagittis condimentum. Etiam volutpat diam ac magna porta, at lobortis diam aliquet. Ut orci quam, gravida id dui id, ullamcorper convallis erat.

            Pellentesque dignissim egestas vulputate. Donec ullamcorper ornare ligula in lobortis. Sed ut congue nunc. Maecenas urna leo, vestibulum et velit at, convallis cursus elit. Donec dictum consectetur rhoncus. Donec placerat ex a massa posuere elementum. Suspendisse in purus justo. Aliquam pharetra est eget ipsum vulputate congue. Integer tempor viverra nunc, eu consequat ipsum maximus non.</p>
    <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p> -->
</div>
<%- include('partials/footer-dashboard') %>