<%- include('partials/header-dashboard') %>
<div class="jumbotron">
    <h1 class="display-4">Nossos serviços</h1>
    <p class="lead">Salon Service</p>
    <hr class="my-4">
    <p>A Beauty Salon é um estabelecimento que trabalha no ramo de Beleza, especialmente em cortes de cabelo. Na área de vendas dos produtos são apenas comercializados e nada é produzido por ela. É voltada para o comercio de salões de beleza.</p>
    <p>Com foco em serviços voltados para o cabelo e na venda de produtos capilar, o estabelecimento oferece os mais diversos tipos de produtos para cabelo, oferecendo produtos com menor custo do que os demais estabelecimentos do ramo na localidade.</p>
    <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p> -->
</div>
<%- include('partials/footer-dashboard') %>